body{
	background-color: #dcdcdc;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	background-color: #010232;
}

header h1{
	font-family: 'Ougkeh', sans-serif;
	color:honeydew;
	position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect center */
	font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7); /* Optional for better readability */
}

nav{
	margin-bottom: 0px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	text-align: center;
	vertical-align: text-top;
}

nav ul li{
	display: inline-block;
	margin-right: 15px;
}

nav ul li a{
	color: black;
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	text-transform: uppercase;
	font-family: 'Ougkeh', sans-serif;
	font-size: 1.5rem;
}

nav ul li a:hover{
	transform: scale(1.05);
	background-color: #48d1cc;
}
	
main{
	background-color: #e2c483;
	padding: 1 em;
	font-size: 1.25em;
	color: #f5f5f5;
	margin-top: 2px;
	font-family: 'Ougkeh', sans-serif;
	justify-content: center;
}

main ul{
	margin:0 0 2% 5%;
}

main :any-link{
	color: aliceblue;
}

footer{
	width: auto;
	font-size: 1.0em;
	text-align: center;
	background-color: #3a4c5c ;
	padding: 5%;
	color: white;
	margin-top: 5px;
}

footer :any-link{
	color: aliceblue;
}

article {
	margin-top: 1%;
	padding: 1%;
}

.profile-card {
    background-color: #367588;
    padding: 1%;
    margin-top: 1%;
    border-radius: 5px 35px;
    color: white;
    text-align: center;
	position: relative;
    overflow: hidden;
}

.profile-card img {
    display: block;
    margin: 0 auto;
}

.profile-card figcaption {
    margin-top: 10px;
    font-size: 1.75rem;
}

.profile-card2 {
	display: none;
}

aside {
	background-color: #3a4c5c;
	padding: .05%;
	margin-top: 1%;
    border-radius: 5px 35px;
	border-style: groove;
	font-family: 'Ougkeh', sans-serif;
}

h2 {
	color: #3a4c5c;
	font-family: 'Ougkeh', sans-serif;
	font-size: 2.75rem;
}

article ul li{
	color: #444
	font-family: 'Ougkeh', sans-serif;
	list-style: none;
    padding-left: 0;
}

.details {
    display: none;
    margin-top: 5px;
    color: #444;
	font-size: medium;
	font-family: 'Ougkeh', sans-serif;
}

.toggle-btn {
    margin-left: 10px;
    padding: 1px 2px;
    font-size: 0.6rem;
    cursor: pointer;
}

section {
	width: 90%;
	height: 400px;
	margin: 1% 1%;
	border: 3px solid #ccc;
	border-radius: 25px;
	padding: 3%;
	background-color: #548dc5;
	object-fit: contain;
}
  
section:hover {
	border: 3px solid #777;
	transform: translateY(10px);
}
  
.grid section img {
	width: 100%;
	height: 81%;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.grid .desc {
	padding: 10px;
	text-align: center;
	font-size: 20px;
}

/*to open device mode in google chrome: ctrl + shift + I OR F12 in Windows*/
/* Media Query for Tablet Viewport */
@media screen and (min-width: 650px), print {
    .grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 20px;}

	aside {
		grid-column: 1 / span 2;
		padding: 1%;
        border-radius: 5px 45px;
	}
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1500px), print {
	.grid {
		grid-template-columns: auto auto auto auto;
	}

	aside {
		grid-column: 1 / span 4;
		padding: 1%;
        border-radius: 5px 45px;
	}

	.profile-card {
    	display: none;
	}

	.profile-card img {
    	display: none;
	}

	.profile-card figcaption {
    	display: none;
	}

	.profile-card2 {
		display: block;
    	background-color: #367588;
    	padding: 1%;
    	margin-top: 1%;
    	border-radius: 5px 35px;
    	color: white;
    	text-align: center;
		position: relative;
    	overflow: hidden;
	}

	.profile-card img {
    	display: block;
    	margin: 0 auto;
	}

	.profile-card2 figcaption {
		display: block;
    	margin-top: 10px;
    	font-size: 1.5rem;
	}

	h2 {
		color: #3a4c5c;
		font-family: 'Ougkeh', sans-serif;
		font-size: 3.5rem;
	}
}



